#aceptar.action {}
#aceptar.action #form_submit {}

#aceptar.action .id {}
#aceptar.action .id .label {}
#aceptar.action .id .field {}

#cancelar.action {}
#cancelar.action #form_submit {}



