<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <context-param>
   		<param-name>url_buscador</param-name>
   		<param-value>buscador/ListarODECU/ListarODECU.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_Offline</param-name>
   		<param-value>herramientaoffline/InicialCU/InicialCU.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_formularioAvanzado</param-name>
   		<param-value>buscador/FormularioAvanzadoCU/FormularioAvanzadoCU.do</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_buscadorAvanzado</param-name>
   		<param-value>buscador/BuscarAvanzadoCU/BuscarAvanzadoCU.do</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_buscadorListarODEArea</param-name>
   		<param-value>buscador/ListarODEAreaCU/ListarODEAreaCU.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_buscadorListarODETesauro</param-name>
   		<param-value>buscador/ListarODETesauroCU/ListarODETesauroCU.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_seleccionTipoBusqueda</param-name>
   		<param-value>buscador/SeleccionTipoBusquedaCU/SeleccionTipoBusquedaDecidirSalida.do?tipoNavegacion=01</param-value>
	</context-param>
	<context-param>
   		<param-name>url_buscadorArbolCurricular</param-name>
   		<param-value>buscador/NavegarArbolCurricularCU/NavegarArbolCurricularCU.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_configurarBuscadorAvanzado</param-name>
   		<param-value>buscador/ConfigurarAvanzadoCU/ConfigurarAvanzadoCU.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_buscadorDetalle</param-name>
   		<param-value>buscador/DetallarODECU/DetallarODECU.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_buscadorDetalleCorta</param-name>
   		<param-value>ODE</param-value>
	</context-param>
	<context-param>
   		<param-name>url_buscadorAvanzadoDestinoDetalle</param-name>
   		<param-value>buscador/BuscarAvanzadoCU/MostrarResultadosAvanzadoPrepararRetornoDetalle.do</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_conSinSecuencia</param-name>
   		<param-value>buscador/DetallarODECU/MostrarDetalleODEPrevisualizar.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_feeds</param-name>
   		<param-value>visualizadorcontenidos/AgregadorFeedsCU/AgregadorFeedsCU.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_previsualizarCorta</param-name>
   		<param-value>visualizar</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_selectFormatoDescargar</param-name>
   		<param-value>buscador/DescargarODECU/SeleccionarTipoFormatoAceptar.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_descargas</param-name>
   		<param-value>buscador/DescargarODECU/DescargarODECU.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_portada</param-name>
   		<param-value>visualizadorcontenidos/Portada/Portada.do</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_ayuda</param-name>
   		<param-value>PortalEmpaquetador/ayuda/index.html</param-value>
	</context-param>
	<context-param>
   		<param-name>url_ayuda2</param-name>
   		<param-value>visualizadorcontenidos/ayuda/ayuda.html</param-value>
	</context-param>
	<context-param>
   		<param-name>url_politicaPrivacidad</param-name>
   		<param-value>visualizadorcontenidos/PoliticaPrivacidad/PoliticaPrivacidad.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_acercaDeAgrega</param-name>
   		<param-value>visualizadorcontenidos/AcercaDeAgrega/AcercaDeAgrega.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_informacionLegal</param-name>
   		<param-value>visualizadorcontenidos/InformacionLegal/InformacionLegal.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_contacto</param-name>
   		<param-value>visualizadorcontenidos/Contacto/Contacto.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_noticias</param-name>
   		<param-value>visualizadorcontenidos/Noticias/Noticias.do</param-value>
	</context-param> 
	    <context-param>
   		<param-name>url_faqs_admin</param-name>
   		<param-value>portaladministracion/Faqs/Faqs.do</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_noticias_admin</param-name>
   		<param-value>portaladministracion/Noticias/Noticias.do</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_faqs</param-name>
   		<param-value>visualizadorcontenidos/Faqs/Faqs.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_accesibilidad</param-name>
   		<param-value>visualizadorcontenidos/Accesibilidad/Accesibilidad.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_mapa</param-name>
   		<param-value>visualizadorcontenidos/Mapa/Mapa.do</param-value>
	</context-param>
	
	<context-param>
   		<param-name>url_objetos</param-name>
   		<param-value>PortalEmpaquetador/InicioEmpaquetador/InicioEmpaquetador.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_planificador</param-name>
   		<param-value>portaladministracion/ListarTareasPendientes/ListarTareasPendientes.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_portaladministracion</param-name>
   		<param-value>portaladministracion</param-value>
	</context-param>
	<context-param>
   		<param-name>url_adminusuarios_usuarios</param-name>
   		<param-value>portaladministracion/ListarUsuarios/ListarUsuarios.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_adminusuarios_grupos</param-name>
   		<param-value>portaladministracion/ListarGrupos/ListarGrupos.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_visualizadorPaginacion</param-name>
   		<param-value>visualizador</param-value>
	</context-param>
	<context-param>
   		<param-name>url_visualizador</param-name>
   		<param-value>visualizador/Visualizar/Visualizar.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_visualizador_adl</param-name>
   		<param-value>visualizador/VisualizarAdl/VisualizarAdl.do</param-value>
	</context-param>
	
	<context-param>
   		<param-name>url_gestorFlujo</param-name>
   		<param-value>gestorFlujo/ObjetosPersonalesCU/ObjetosPersonalesCU.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_gestorFlujo_admin</param-name>
   		<param-value>gestorFlujo/ObjetosPendientesCU/ObjetosPendientesCU.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_gestorFlujo_catalogacion</param-name>
   		<param-value>gestorFlujo/ObjetosPendientesCatalogacionCU/ObjetosPendientesCatalogacionCU.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_gestorFlujo_init</param-name>
   		<param-value>gestorFlujo</param-value>
	</context-param>	
	<context-param>
   		<param-name>url_catalogador</param-name>
   		<param-value>catalogadorWeb/InicioCatalogador/InicioCatalogador.do</param-value>
	</context-param>
	<context-param>
		<param-name>url_incidencias</param-name>
		<param-value>http://incidencias.agrega.indra.es/</param-value>
	</context-param>
	<context-param>
		<param-name>url_restringida</param-name>
		<param-value>visualizadorcontenidos/Acceso/Acceso.do</param-value>
	</context-param>
	<context-param>
		<param-name>url_perfil</param-name>
		<param-value>visualizadorcontenidos/ModificarPerfil/ModificarPerfil.do</param-value>
	</context-param>
	<context-param>
		<param-name>url_salir</param-name>
		<param-value>visualizadorcontenidos/Salir/Salir.do</param-value>
	</context-param>
	
	<context-param>
   		<param-name>max_res_pagina</param-name>
   		<param-value>10</param-value>
	</context-param>
	<context-param>
   		<param-name>num_max_paginas</param-name>
   		<param-value>10</param-value>
	</context-param>
	<context-param>
   		<param-name>max_res_totales</param-name>
   		<param-value>1000</param-value>
	</context-param>
	<context-param>
   		<param-name>url_cas</param-name>
   		<param-value>https://desarrollo.agrega.indra.es:8443/cas/login?service=http://desarrollo.agrega.indra.es/</param-value>
	</context-param>
	<context-param>
   		<param-name>url_comentariosODE</param-name>
   		<param-value>reputacion/InsertarComentarioCU/InsertarComentarioCU.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_nodos_admin</param-name>
   		<param-value>portaladministracion/ListarNodos/ListarNodos.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_repositorios_admin</param-name>
   		<param-value>portaladministracion/ListarNodosSQI/ListarNodosSQI.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_logs</param-name>
   		<param-value>portaladministracion/ListarLog/ListarLog.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_estructurasEdu</param-name>
   		<param-value>portaladministracion/ListarArboles/ListarArboles.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_informes</param-name>
   		<param-value>portaladministracion/ListarInformes/ListarInformes.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_monitorizar</param-name>
   		<param-value>portaladministracion/MonitorizarNodos/MonitorizarNodos.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_portada_admin</param-name>
   		<param-value>portaladministracion/PortadaAdministracion/PortadaAdministracion.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_modificador</param-name>
   		<param-value>ModificadorWeb/ModificacionesPendientes/ModificacionesPendientes.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_informes_portada</param-name>
   		<param-value>visualizadorcontenidos/Informes/Informes.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_utilidades</param-name>
   		<param-value>visualizadorcontenidos/Utilidades/Utilidades.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_portada_noticias</param-name>
   		<param-value>portada/noticias</param-value>
	</context-param>
	<context-param>
   		<param-name>url_noticias_categorias_portada</param-name>
   		<param-value>portada/noticiasCategorias</param-value>
	</context-param>
	<context-param>
   		<param-name>url_noticias_portada</param-name>
   		<param-value>noticias</param-value>
	</context-param>
	<context-param>
   		<param-name>url_noticias_categorias</param-name>
   		<param-value>noticias/categorias</param-value>
	</context-param>
	<context-param>
   		<param-name>url_descargas_portal</param-name>
   		<param-value>visualizadorcontenidos/Descargas/Descargas.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_agregaSlider</param-name>
   		<param-value>visualizadorcontenidos/AgregaSlider/AgregaSlider.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_agregaContenidoDinamico</param-name>
   		<param-value>visualizadorcontenidos/AgregaContenidoDinamico/AgregaContenidoDinamico.do</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_contenido_dinamico</param-name>
   		<param-value>visualizadorcontenidos/ContenidoDinamico/ContenidoDinamico.do</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_idiomas_banderas</param-name>
   		<param-value>visualizadorcontenidos/IdiomaCU/IdiomaCU.do</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_motor_busqueda</param-name>
   		<param-value>visualizadorcontenidos/MotorBusquedaCU/MotorBusquedaCU.do</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_admin_descargas</param-name>
   		<param-value>portaladministracion/Activas/Activas.do</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_listar_comentarios</param-name>
   		<param-value>buscador/ListarComentariosCU/ListarComentariosCU.do</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_introducir_comentarios</param-name>
   		<param-value>buscador/IntroducirComentariosCU/IntroducirComentariosCU.do</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_anadir_carpeta_personal</param-name>
   		<param-value>buscador/AnadirCarpetaPersonalCU/AnadirCarpetaPersonalCU.do</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_nodoSQI_alta_aceptar</param-name>
   		<param-value>AltaNodoSQI/FormularioAltaNodoSQIAceptar</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_nodoSQI_alta_cancelar</param-name>
   		<param-value>AltaNodoSQI/FormularioAltaNodoSQICancelar</param-value>
	</context-param>
	<context-param>
   		<param-name>url_nodoSQI_listar_eliminar</param-name>
   		<param-value>ListarNodosSQI/FormularioNodosSQIEliminarNodoSQI</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_nodoSQI_listar_ver</param-name>
   		<param-value>ListarNodosSQI/FormularioNodosSQIVerNodoSQI</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_nodoSQI_listar_modificar</param-name>
   		<param-value>ListarNodosSQI/FormularioNodosSQIModificarNodoSQI</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_nodoSQI_listar_crear</param-name>
   		<param-value>ListarNodosSQI/FormularioNodosSQICrearNodoSQI</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_nodoSQI_baja_confirmar_aceptar</param-name>
   		<param-value>BajaNodoSQI/ConfirmarAceptar</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_nodoSQI_baja_confirmar_cancelar</param-name>
   		<param-value>BajaNodoSQI/ConfirmarCancelar</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_nodoSQI_baja_resultado_aceptar</param-name>
   		<param-value>BajaNodoSQI/ResultadoEliminacionNodoSQIAceptar</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_nodoSQI_modificar_aceptar</param-name>
   		<param-value>ModificarNodosSQI/FormularioNodoSQIAceptar</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_nodoSQI_modificar_cancelar</param-name>
   		<param-value>ModificarNodosSQI/FormularioNodoSQICancelar</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_nodoSQI_resultado_modificacion_aceptar</param-name>
   		<param-value>ModificarNodosSQI/ResultadoModificacionNodoSQIAceptar</param-value>
	</context-param> 
	<context-param>
   		<param-name>url_nodoSQI_ver_aceptar</param-name>
   		<param-value>VerNodoSQI/DetalleNodoSQIAceptar</param-value>
	</context-param>
	<context-param>
   		<param-name>url_catalogadores</param-name>
   		<param-value>portaladministracion/ListarCatalogadores/ListarCatalogadores.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_taggingWeb</param-name>
   		<param-value>TaggingWeb/InicioTagging/InicioTagging.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_admin_taggingWeb</param-name>
   		<param-value>TaggingWeb/ListarTag/ListarTag.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_mostrarTag_taggingWeb</param-name>
   		<param-value>/TaggingWeb/ListarAgregaTags/ListadoMostrarOdesAgrega.do</param-value>
	</context-param>
	<context-param>
   		<param-name>url_comunidad</param-name>
   		<param-value>http://www.proyectoagrega.es</param-value>
	</context-param>
	<context-param>
   		<param-name>url_adminusuarios_gruposTrabajo</param-name>
   		<param-value>portaladministracion/ListarCatalogadores/ListarCatalogadores.do</param-value>
	</context-param>
    <context-param> 
        <param-name>contextConfigLocation</param-name> 
        <param-value>
        	classpath:applicationContext-acegiSecurity_ModificadorWeb.xml
        	classpath:applicationContext-acegiSecurity-frontend_ModificadorWeb.xml
        </param-value> 
    </context-param>              

		<filter>
		    <filter-name>LanguageFilter</filter-name>
		    <filter-class>es.agrega.soporte.filter.LanguageFilter</filter-class>
		</filter>
                <filter>
                    <filter-name>HelpFilter</filter-name>
                    <filter-class>es.agrega.soporte.filter.HelpFilter</filter-class>
                    <init-param>
    					<param-name>HELP_URL</param-name>
						<param-value>/wiki/index.php</param-value>
					</init-param>
                </filter>
    <filter>
        <filter-name>ResponseOverrideFilter</filter-name>
        <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
    </filter>

	
	<!-- Acegi filter that filters all the requests to check if they're authorized -->
    <filter>
        <filter-name>Acegi_Filter</filter-name>
        <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
        <init-param>
            <param-name>targetBean</param-name>
            <param-value>filterChainProxy</param-value>
        </init-param>
    </filter>


	<!-- Acegi filter mapping should be the first in order to effectively protect all the resources -->
    <filter-mapping>
        <filter-name>Acegi_Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

                <filter-mapping>
                    <filter-name>LanguageFilter</filter-name>
                    <url-pattern>/*</url-pattern>
                </filter-mapping>
                <filter-mapping>
                    <filter-name>HelpFilter</filter-name>
                    <url-pattern>/*</url-pattern>
                </filter-mapping>
    <filter-mapping>
        <filter-name>ResponseOverrideFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResponseOverrideFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>


    <listener>
        <listener-class>org.apache.axis.transport.http.AxisHTTPSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <display-name>Apache-Axis Servlet</display-name>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.andromda.presentation.bpm4struts.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- precompilation merge-point -->
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
    <!-- session-config merge-point -->
    
    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xsd</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <welcome-file-list>
        
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    
    <error-page>
        <error-code>400</error-code>
        <location><![CDATA[/error-page.jsp?code=400]]></location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location><![CDATA[/error-page.jsp?code=403]]></location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location><![CDATA[/error-page.jsp?code=404&resource=true]]></location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location><![CDATA[/error-page.jsp?code=500&exception=true]]></location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location><![CDATA[/error-page.jsp?code=exception&exception=true]]></location>
    </error-page>

    <!-- taglib merge-point -->
    <!-- resource-ref merge-point -->

    
</web-app>