#aceptar.action {}
#aceptar.action #form_submit {}

#aceptar.action .grupos {}
#aceptar.action .grupos .label {}
#aceptar.action .grupos .field {}
#aceptar.action .listaId {}
#aceptar.action .listaId .label {}
#aceptar.action .listaId .field {}

#cancelar.action {}
#cancelar.action #form_submit {}



