#cancelar.action {}
#cancelar.action #form_submit {}


#grupos.table {}
#grupos.table th {}
#grupos.table td div {}

#grupos.table th.descripcion {}
#grupos.table td div.descripcion {}

#grupos.table th.id {}
#grupos.table td div.id {}



