#submitConfirmacion.action {}
#submitConfirmacion.action #form_submit {}

#submitConfirmacion.action .action {}
#submitConfirmacion.action .action .label {}
#submitConfirmacion.action .action .field {}

#buscar.action {}
#buscar.action #form_submit {}

#buscar.action .idiomaBuscador {}
#buscar.action .idiomaBuscador .label {}
#buscar.action .idiomaBuscador .field {}
#buscar.action .tipoBusqueda {}
#buscar.action .tipoBusqueda .label {}
#buscar.action .tipoBusqueda .field {}


