#volver.action {}
#volver.action #form_submit {}

#volver.action .identificadorOde {}
#volver.action .identificadorOde .label {}
#volver.action .identificadorOde .field {}
#volver.action .identificadores {}
#volver.action .identificadores .label {}
#volver.action .identificadores .field {}
#volver.action .contribucion {}
#volver.action .contribucion .label {}
#volver.action .contribucion .field {}
#volver.action .descripciones {}
#volver.action .descripciones .label {}
#volver.action .descripciones .field {}
#volver.action .comboIdioma {}
#volver.action .comboIdioma .label {}
#volver.action .comboIdioma .field {}
#volver.action .esquemasMeta {}
#volver.action .esquemasMeta .label {}
#volver.action .esquemasMeta .field {}
#volver.action .comboIdiomaMeta {}
#volver.action .comboIdiomaMeta .label {}
#volver.action .comboIdiomaMeta .field {}
#volver.action .mensajesErrores {}
#volver.action .mensajesErrores .label {}
#volver.action .mensajesErrores .field {}
#volver.action .crol {}
#volver.action .crol .label {}
#volver.action .crol .field {}
#volver.action .cidentidad {}
#volver.action .cidentidad .label {}
#volver.action .cidentidad .field {}
#volver.action .fechaCorta {}
#volver.action .fechaCorta .label {}
#volver.action .fechaCorta .field {}
#volver.action .hora {}
#volver.action .hora .label {}
#volver.action .hora .field {}
#volver.action .minutos {}
#volver.action .minutos .label {}
#volver.action .minutos .field {}
#volver.action .segundoP1 {}
#volver.action .segundoP1 .label {}
#volver.action .segundoP1 .field {}
#volver.action .segundoP2 {}
#volver.action .segundoP2 .label {}
#volver.action .segundoP2 .field {}
#volver.action .meridianocero {}
#volver.action .meridianocero .label {}
#volver.action .meridianocero .field {}
#volver.action .comboZonaH {}
#volver.action .comboZonaH .label {}
#volver.action .comboZonaH .field {}
#volver.action .zhHora {}
#volver.action .zhHora .label {}
#volver.action .zhHora .field {}
#volver.action .zhMinutos {}
#volver.action .zhMinutos .label {}
#volver.action .zhMinutos .field {}


