#alta.action {}
#alta.action #form_submit {}

#alta.action .id {}
#alta.action .id .label {}
#alta.action .id .field {}

#listarUsuarios.action {}
#listarUsuarios.action #form_submit {}


#verUsuarioPendiente.action {}
#verUsuarioPendiente.action #form_submit {}

#verUsuarioPendiente.action .id {}
#verUsuarioPendiente.action .id .label {}
#verUsuarioPendiente.action .id .field {}

#listarUsuariosInactivos.action {}
#listarUsuariosInactivos.action #form_submit {}


#usuarios.table {}
#usuarios.table th {}
#usuarios.table td div {}

#usuarios.table th.apellido2 {}
#usuarios.table td div.apellido2 {}

#usuarios.table th.usuario {}
#usuarios.table td div.usuario {}

#usuarios.table th.apellido1 {}
#usuarios.table td div.apellido1 {}

#usuarios.table th.idioma {}
#usuarios.table td div.idioma {}

#usuarios.table th.nombre {}
#usuarios.table td div.nombre {}

#usuarios.table th.id {}
#usuarios.table td div.id {}

#usuarios.table th.tipoEmpaquetador {}
#usuarios.table td div.tipoEmpaquetador {}

#usuarios.table th.email {}
#usuarios.table td div.email {}

#usuarios.table th.idiomaBusqueda {}
#usuarios.table td div.idiomaBusqueda {}

#usuarios.table th.NIF {}
#usuarios.table td div.NIF {}



