<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//Spring//DTD Bean//EN" 
    "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- Application Context -->
<beans>

    
    <!--          JMS Spring Beans               -->
    
    
    
    
    
      
      <!-- JNDI Environment Template -->
    <bean id="jndiTemplateSrvGaleriaImgServicio" class="org.springframework.jndi.JndiTemplate">
        <property name="environment">
            <props>
                <prop key="java.naming.factory.initial">org.jnp.interfaces.NamingContextFactory</prop>
                <prop key="java.naming.provider.url">localhost</prop>
           </props>
        </property>
    </bean>

    <!-- JMS Queue Connection Factory -->
    <bean id="internalJmsQueueConnectionFactorySrvGaleriaImgServicio"
        	class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiTemplate">
            <ref bean="jndiTemplateSrvGaleriaImgServicio"/>
        </property>
        <property name="jndiName">
            <value>UIL2ConnectionFactory</value>
        </property>
    </bean>

    <!-- JMS Destination -->
    <bean id="destinationSrvGaleriaImgServicio"
        class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiTemplate">
            <ref bean="jndiTemplateSrvGaleriaImgServicio"/>
        </property>
        <property name="jndiName">
            <value>queue/A</value>
        </property>
    </bean>
  
  <!-- JMS Listener and ListenerContainer-->
  
       <bean id="messageListenerSrvGaleriaImgServicio" class="es.pode.publicacion.negocio.servicios.SrvGaleriaImgServicioImpl" />	

        <bean id="listenerContainerSrvGaleriaImgServicio"
                class="org.springframework.jms.listener.DefaultMessageListenerContainer">
                <property name="connectionFactory" ref="internalJmsQueueConnectionFactorySrvGaleriaImgServicio" />
                <property name="destination" ref="destinationSrvGaleriaImgServicio" />
                <property name="messageListener" ref="messageListenerSrvGaleriaImgServicio" />
                <property name="concurrentConsumers" value="1"/>
<!-- MCA: removed when switched to new build as parameter not recognised
                <property name="maxConcurrentConsumers" value="1"/>                
-->
        </bean>
  
  
  
  
  
  
     </beans>

