<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- ========================= GENERAL DEFINITIONS ========================= -->
    <!-- Message source for this context, loaded from localized "messages_xx" files -->

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename"><value>messages</value></property>
    </bean>

	<bean id="beanMapper" class="net.sf.dozer.util.mapping.DozerBeanMapper" singleton="true">
		<property name="mappingFiles">
			<list>
				<value>defaultDozerMappings_agregadorRSS.xml</value>
				<value>customDozerMappings_agregadorRSS.xml</value>
			</list>
		</property>
	</bean>

    <!-- applicationContext merge-point -->

    <!-- ========================= Start of SERVICE DEFINITIONS ========================= -->


    <!-- SrvAgregadorRssService Service Proxy with inner SrvAgregadorRssService Service Implementation -->
    <bean id="srvAgregadorRssService" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target">
            <bean class="es.pode.agregador.negocio.agregador.servicio.SrvAgregadorRssServiceImpl">

                <property name="beanMapper"><ref bean="beanMapper"/></property>                
									            </bean>
        </property>
        <property name="proxyInterfaces">
            <value>es.pode.agregador.negocio.agregador.servicio.SrvAgregadorRssService</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>serviceSecurityInterceptor</value>
            </list>
        </property>
    </bean>

    <!-- ========================= End of SERVICE DEFINITIONS ========================= -->

</beans>
