#aceptar.action {}
#aceptar.action #form_submit {}

#aceptar.action .anio {}
#aceptar.action .anio .label {}
#aceptar.action .anio .field {}
#aceptar.action .dia {}
#aceptar.action .dia .label {}
#aceptar.action .dia .field {}
#aceptar.action .diaDesde {}
#aceptar.action .diaDesde .label {}
#aceptar.action .diaDesde .field {}
#aceptar.action .mesDesde {}
#aceptar.action .mesDesde .label {}
#aceptar.action .mesDesde .field {}
#aceptar.action .anioDesde {}
#aceptar.action .anioDesde .label {}
#aceptar.action .anioDesde .field {}
#aceptar.action .diaHasta {}
#aceptar.action .diaHasta .label {}
#aceptar.action .diaHasta .field {}
#aceptar.action .mesHasta {}
#aceptar.action .mesHasta .label {}
#aceptar.action .mesHasta .field {}
#aceptar.action .anioHasta {}
#aceptar.action .anioHasta .label {}
#aceptar.action .anioHasta .field {}
#aceptar.action .hora {}
#aceptar.action .hora .label {}
#aceptar.action .hora .field {}
#aceptar.action .mes {}
#aceptar.action .mes .label {}
#aceptar.action .mes .field {}
#aceptar.action .minutos {}
#aceptar.action .minutos .label {}
#aceptar.action .minutos .field {}
#aceptar.action .msgDescTrabajo {}
#aceptar.action .msgDescTrabajo .label {}
#aceptar.action .msgDescTrabajo .field {}
#aceptar.action .msgEliminado {}
#aceptar.action .msgEliminado .label {}
#aceptar.action .msgEliminado .field {}
#aceptar.action .msgNoEliminado {}
#aceptar.action .msgNoEliminado .label {}
#aceptar.action .msgNoEliminado .field {}
#aceptar.action .periodicidad {}
#aceptar.action .periodicidad .label {}
#aceptar.action .periodicidad .field {}
#aceptar.action .tipoTarea {}
#aceptar.action .tipoTarea .label {}
#aceptar.action .tipoTarea .field {}
#aceptar.action .trabajo {}
#aceptar.action .trabajo .label {}
#aceptar.action .trabajo .field {}
#aceptar.action .trigger {}
#aceptar.action .trigger .label {}
#aceptar.action .trigger .field {}
#aceptar.action .tareaModificada {}
#aceptar.action .tareaModificada .label {}
#aceptar.action .tareaModificada .field {}

#cancelar.action {}
#cancelar.action #form_submit {}



