<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="contextSource"
        class="org.springframework.ldap.support.LdapContextSource">
        <property name="url" value="ldap://localhost:389/ou=usuarios,dc=test,dc=agrega,dc=siriusit,dc=co,dc=uk" />
         <property name="userName" value="cn=Administrador,dc=agrega,dc=siriusit,dc=co,dc=uk" />
        <property name="password" value="p3NGu1n"/>
          </bean>
    <bean id="ldapTemplate" class="org.springframework.ldap.LdapTemplate">
        <constructor-arg ref="contextSource" />
    </bean>
    <bean id="ldapContact"
        class="es.pode.adminusuarios.negocio.comun.LDAPContactDAO">
        <property name="ldapTemplate" ref="ldapTemplate" />
    </bean>
</beans>
