<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="filterInvocationInterceptor" class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
   	
		<!-- La gestion de autenticacion se pasa al AuthenticationManager (gestor de autenticacion) de la aplicacion -->
		<property name="authenticationManager"><ref bean="authenticationManager"/></property>
		<!-- La toma de decisiones sobre la autorizacion se delega al AccessDecisionManager (gestor de autorizacion) de la aplicacion -->
		<property name="accessDecisionManager"><ref bean="accessDecisionManager"/></property>
		
		<property name="objectDefinitionSource">
			<value>
				PATTERN_TYPE_APACHE_ANT
				/ContenidoInapropiado/*=ROLE_CATALOGADOR,ROLE_ADMINISTRADOR,ROLE_DEMOUSER,ROLE_DOCENTE,ROLE_PUBLICADOR  
							
				/Tagging/*=ROLE_PUBLICADOR,ROLE_DOCENTE,ROLE_CATALOGADOR,ROLE_ADMINISTRADOR,ROLE_DEMOUSER  
				/Visualizar/*=ROLE_PUBLICADOR,ROLE_DOCENTE,ROLE_CATALOGADOR,ROLE_ADMINISTRADOR,ROLE_DEMOUSER  
							
				/logincaptcha.do*=ROLE_ANONYMOUS
				/login.do*=ROLE_ANONYMOUS
				/layout/*=ROLE_ANONYMOUS
				/captcha*=ROLE_ANONYMOUS
				/casfailed.jsp*=ROLE_ANONYMOUS				
				/**=ROLE_ANONYMOUS
			</value>
		</property>
	</bean>
	
	<bean id="channelProcessingFilter" class="org.acegisecurity.securechannel.ChannelProcessingFilter">
		<property name="channelDecisionManager"><ref bean="channelDecisionManager"/></property>
		<property name="filterInvocationDefinitionSource">
			<value>
				PATTERN_TYPE_APACHE_ANT
				/login.do*=  REQUIRES_INSECURE_CHANNEL   

				/**=REQUIRES_INSECURE_CHANNEL
			</value>
		</property>
	</bean>

</beans>   	
   	
