body {
	background-color: #CCCCCC;
	text-align: center;
	color: #000000;
	text-align: left;
}

p {
	font-size: 90%;
}

li {
	font-size: 100%;
	list-style-type: none;
}

h1 {
	font-size: 135%;
	font-weight: bold;
	color: #FFFFFF;
}

h2 { 
	font-size: 100%;
	font-weight: bold;
}

h3 { 
	font-size: 100%;
	font-weight: normal;
}

span.option { 
	font-size: 100%;
	font-weight: bold;
}

.error {
	font-size: 100%;
	color: #990000;
}

.head {
	max-width: 600px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-color: #000000;
	border-style: solid;
	background-color: #6688aa;
	margin-top: 1em;
	margin-bottom: 0;
	margin-left: 1em;
	margin-right: 1em;
	padding-left: .75em;
	padding-right: .75em;
	padding-top: .5em;
	padding-bottom: .5em;
}

.selector {
	max-width: 600px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-top-width: 0;
	border-bottom-width: 0;
	border-color: #000000;
	border-style: solid;
	background-color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1em;
	margin-right: 1em;
	padding: .75em;
}

.footer {
	max-width: 600px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-color: #000000;
	border-style: solid;
	background-color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
	padding-left: .75em;
	padding-right: .75em;
	padding-top: .5em;
	padding-bottom: .5em;
}

span.warning {
	font-size: 80%;
}

.logo {
	text-align: center;
	margin-top: 1.5em;
}

div.dropdown {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;   
}

div.dropdown div {
    background-color: white;
    cursor: default;
    padding: 0px 3px;
}

div.dropdown div.current {
    background-color: #3366cc;
    color: white;
}
