html body
{
    font-family : "Trebuchet MS", Arial, Tahoma, Verdana;
	font-size: 12px;
	line-height: 1.5em;
	color: #333;
	margin: 0px;
    padding: 0px;

}

td, th { font-size: 12px; padding: 0 3px 6px 3px; line-height: 15px; }

a:link
{
	color: #0A389D;
/*	color: #043DBC;
	border-bottom: 1px dotted #3D7DC7;*/
	text-decoration: none;
}

a:visited
{
	color: #0A389D;
/*   border-bottom: 1px dotted #3D7DC7;*/
	text-decoration: none;
}

a:hover
{
	color: #363A6A;
/*	border-bottom: 1px solid #2C8AF7;*/
text-decoration: underline;
}

a:link.nol, a:visited.nol, a:hover.nol
{
	border-bottom: 1px solid #fff;
		text-decoration: none;
	
}


form { margin: 0px 0px 0px 10px; }
form input { font-size: 82%; }
form input.text { font-size: 100%; background: #fff; border: 1px solid #ccc; border-color: #ccc; }
form textarea { font-family: "Trebuchet MS", Arial, Tahoma, Verdana; font-size: 100%;}
form textarea.text { background: #fff; border: 1px solid #ccc; color: #444; }

h1
{
font: bold 11px "Trebuchet MS", Arial, Tahoma, Verdana;
	color: #8386a4;
	height: 24px;
	width: 100%;
	padding-top: 6px;
/*   width: 100%;
   font-size: 170%;
   color: #222;
   letter-spacing: -1px;
   border-bottom: 1px solid #AAA;
   padding: 27px 0 5px 0;
   margin: 0 0 25px 0;*/
}

h2
{
   font-size: 150%;
   color: #2947AC;
   font-weight: bold;
   margin-bottom: 0.7em;
}

h3
{
   font-size: 148%;
   margin: 0;
   letter-spacing: -0.05em;
   font-weight: normal;
   line-height: 1.2em;
}

h3.ind { padding: 1em 0px 7px 5px; }

h3.underline { border-bottom: 1px solid #ccc; margin: 0px 0px 1em 0px; }

h4
{
   font-size: 128%;
   margin: 0px;
   line-height: 1em;
   padding-bottom: 0.7em;
}

h5
{
   font-size: 110%;
   padding: 0px;
   margin-bottom: 0.3em;
}

hr
{
   border-top: 1px dashed #ccc;
   color: #fff;
   background-color: #fff;
   height: 1px;
}

img { border: 0; }

ul { margin: 0; padding: 0; }
ul li { list-style-type: disc; }

blockquote
{
   font-size: 86%;
   color: #888;
   margin: 10px; margin-left: 24px;
   line-height: 1.7em;
}

acronym
{
   border-bottom: 1px dotted #999;
   cursor: help;
   font-size: 86%;
   color: #999;
   margin-top: 0;
}

.author { color: #999; font-size: 86%; }
p.author
{
   text-align: right;
   color: #999;
   line-height: 1.2em;
   margin-right: 10px;
}

p { margin-top: 0px; margin-bottom: 0.5em; padding: 0px; }
p.spacer { height: 0.5em; width: 0; }

/* ESTILOS DE MAIN*/
.BarraCaption {
	background-color: #534d8b;
	background-image:  url(images/BarraCaptionF.gif);
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:17px;
	z-index:1;
	font: normal 11px "Trebuchet MS", Tahoma, Arial, Verdana;
	color: #FFFFFF;
	padding: 0px 8px 0px 4px;		
}

.BarraHerramientasSecundaria{
	background-color: #534d8b;
	background-image:  url(images/bhsecF.gif);
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:35px;
	z-index:-1;
	font: normal 11px "Trebuchet MS", Tahoma, Arial, Verdana;
	color: #FFFFFF;	
	
}

.ifrmFondo{
	background-color:transparent; 
	margin:0px;
}

.ifrmCapaFondo {
	position:absolute; 
	z-index:-1; 
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	background-color: #E5E5E5;
	filter:alpha(opacity=100);
}

.btnCaptionCerrar{
	position:absolute;
	right:0px;
	top:0px;
	z-index:1;
}


.PiePaginaEmergente{	
	position:absolute;
	left: 0px;
	bottom:0px;
	height: 128px;
	width: 100%;	
}


.Botonera {
	bottom: 10px;
	right: 10px;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
}


.PanelMensajesPie{
	position: absolute;	
	width:100%;
	height: 100%;
	padding: 48px 5px 5px 5px;	
	overflow: hidden;		
}


.CaptionMensajes
{
	font: normal 11px "Trebuchet MS", Tahoma, Arial, Verdana;
	color: #61608C;
	position: absolute;	
	width:100%;
	height: 19px;	
	overflow: hidden;		
	padding: 0px 4px 0px 4px;	
	border: solid 1px #b8b7ce;
	border-bottom: solid 1px #9291b4;
	background-color: #c4c4d6;
}

#AreaMensajes
{
	position: absolute;
	width:100%;
	height: 56px;
	overflow: auto;
	margin-top: 19px;
	padding: 4px;
	border: solid 1px #c9c9c9;
	border-top:0px;
	background-color: #f6f6f6;
	
}

#AreaMensajes ul li
{	
	list-style-type: none;
	padding:0px;
	margin-left:+22px;
	margin-top:-2px;
	font: normal 11px "Trebuchet MS", Tahoma, Arial, Verdana;
	color: #61608C;	
}

#AreaMensajes li.normal {         
    list-style-image: url(images/icomsgSuccess.gif);
    padding-bottom:2px;
}


#AreaMensajes li.warning {
	color: #000000;
	list-style-image: url(images/icomsgWarning.gif);
	padding-bottom:2px;
}
#AreaMensajes li.error {
	color: #000000;
	list-style-image: url(images/icomsgError.gif);
	padding-bottom:2px;
}

.SeparadorGrupoBotones{
	margin-right: 20px;
}

.btn {	
float:left; 
	font: normal 11px "Trebuchet MS", Tahoma, Arial, Verdana;
	color: #464365;
	background-color: #f0efef;
	border-bottom: 1px solid #8d97a8;
	border-right: 1px solid #8d97a8;
	border-left: 1px solid #d1d5dc;
	border-top: 1px solid #d1d5dc;
	background-image: url(images/BtnF.gif);
	height: 23px;
	cursor: pointer;
	padding: 0px 0px 0px 0px;
	margin: 0px 5px 0px 5px;
}

.btnAceptar {
	font: normal 11px "Trebuchet MS", Tahoma, Arial, Verdana;
	color: #464365;
	background-color: #f0efef;
	border-bottom: 1px solid #8d97a8;
	border-right: 1px solid #8d97a8;
	border-left: 1px solid #d1d5dc;
	border-top: 1px solid #d1d5dc;
	background-image: url(images/BtnAceptarF.gif);
	height: 23px;
	cursor: pointer;
	padding: 0px 4px 0px 14px;
}

.btnCancelar {
	font: normal 11px "Trebuchet MS", Tahoma, Arial, Verdana;
	color: #464365;
	background-color: #f0efef;
	border-bottom: 1px solid #8d97a8;
	border-right: 1px solid #8d97a8;
	border-left: 1px solid #d1d5dc;
	border-top: 1px solid #d1d5dc;
	background-image: url(images/BtnCancelarF.gif);
	height: 23px;
	cursor: pointer;
	padding: 0px 4px 0px 14px;
}

.btnDesactivado {
	font: normal 11px "Trebuchet MS", Tahoma, Arial, Verdana;
	color: #464365;
	background-color: #f0efef;
	border: 1px solid #bcbaba;
	height: 23px;
	cursor: default;
}

.FormularioAgrupacionCampos {
	padding: 0px 12px 12px 12px;	
}
.FormularioTituloAgrupacionCampos {
	font: bold 11px "Trebuchet MS", Arial, Tahoma, Verdana;
	color: #8386a4;
	height: 24px;
	width: 100%;
	padding-top: 6px;
}
.FormularioTablaAgrupacionCampos {
	font: 11px "Trebuchet MS", Arial, Tahoma, Verdana;
	color: #575654;
	white-space: nowrap;
}
.FormularioRecAgrupacionCampos {
	background-color: #ececec;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #d5d5d5;
	border-right-color: #d5d5d5;
	border-bottom-color: #d5d5d5;
	border-left-color: #d5d5d5;	
	padding: 10px;
	width: 100%;
	font: normal 11px "Trebuchet MS", Arial, Tahoma, Verdana;
	color: #575654;
}
.FormularioCeldaCampo {
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.FormularioCeldaLiteral {
	padding-right: 5px;
	padding-left: 5px;
	font: 11px "Trebuchet MS", Arial, Tahoma, Verdana;
	color: #424679;
}

.txtBox {
	font: normal 11px "Trebuchet MS", Arial, Tahoma, Verdana;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #c4c2ce;
	height: 21px;
	padding-left: 4px;
}
/*Estilos de menu de mantenimientos*/
div.Submenu  {
	background-color: #F6F6F6;
	border: solid 1px  #b1b0c0;
	padding: 0px 0px 0px 6px;
	background-image: url(images/submnF.gif);
	background-repeat: repeat-y;
}

a.Submenu{
	font: normal 11px "Trebuchet MS", Arial, Tahoma, Verdana;
	color: #262f44;
	text-decoration: none;	
	height: 19px;
	padding-left: 6px;
	float:left;	
	width:100%;
}

a.Submenu:hover{
	color: #2e3154;
}

#lySubmenuAdmon {
	position: absolute;
	right: 0px;
	top: 32px;
	width: 160px;

	z-index: 1000;	
}

