<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    
    <context-param> 
        <param-name>contextConfigLocation</param-name> 
        <param-value>
        	classpath:applicationContext-acegiSecurity_dri.xml
        	classpath:applicationContext-acegiSecurity-frontend_dri.xml
        </param-value> 
    </context-param>              

    <!-- uncomment the following if you're using the open-session-in-view pattern
         note: that you'll need to update the filter-class value if you've changed
         the defaults for the package and/or filter name
    <filter>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <filter-class>org.andromda.spring.presentation.AndroMDAOpenSessionInViewFilter</filter-class>
        <init-param>
            <param-name>singleSession</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    -->
    <filter>
        <filter-name>ResponseOverrideFilter</filter-name>
        <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
    </filter>

	
	<!-- Acegi filter that filters all the requests to check if they're authorized -->
    <filter>
        <filter-name>Acegi_Filter</filter-name>
        <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
        <init-param>
            <param-name>targetBean</param-name>
            <param-value>filterChainProxy</param-value>
        </init-param>
    </filter>


	<!-- Acegi filter mapping should be the first in order to effectively protect all the resources -->
    <filter-mapping>
        <filter-name>Acegi_Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- uncomment the following if you're using the open-session-in-view pattern
    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> 
    -->
    <filter-mapping>
        <filter-name>ResponseOverrideFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResponseOverrideFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>


    <listener>
        <listener-class>org.apache.axis.transport.http.AxisHTTPSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <display-name>Apache-Axis Servlet</display-name>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.andromda.presentation.bpm4struts.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- precompilation merge-point -->
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
    <!-- session-config merge-point -->
    
    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xsd</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <welcome-file-list>
        
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    
    <error-page>
        <error-code>400</error-code>
        <location><![CDATA[/error-page.jsp?code=400]]></location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location><![CDATA[/error-page.jsp?code=403]]></location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location><![CDATA[/error-page.jsp?code=404&resource=true]]></location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location><![CDATA[/error-page.jsp?code=500&exception=true]]></location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location><![CDATA[/error-page.jsp?code=exception&exception=true]]></location>
    </error-page>

    <!-- taglib merge-point -->
    <!-- resource-ref merge-point -->

    
</web-app>